    <footer>
        <section class="block-partner">
            <div class="block-header">
                <h4 class=" iconfont icon-hezuo">合作伙伴</h4>
            </div>
            <div class="block-wrap">
                <ul>
                    <li>
                        <a class="iconfont icon-github" href="#"></a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="block-flink ">
            <div class="block-header">
                <h4 class=" iconfont icon-hezuo">友情链接</h4>
            </div>
            <div class="block-wrap">
                <ul>
                    <li>
                        <a href="#">软考</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="block-copyright">
            {% include analytics.html %}
        </section>
    </footer>
