<nav>
    <ul>
        <li>
            <a href="{{site.url}}{{site.baseurl}}/{{site.data.site.sub}}">首页</a>
        </li>
        <li>
            <a href="{{site.url}}{{site.baseurl}}/tag.html">标签</a>
        </li>
        <li>
            <a href="{{site.url}}{{site.baseurl}}/category.html">分类</a>
        </li>
        <li>
            <a href="{{site.url}}{{site.baseurl}}/archive.html">归档</a>
        </li>
        <li>
            <a href="{{site.url}}{{site.baseurl}}/feed.xml">订阅</a>
        </li>
        <li>
            <a href="{{site.url}}{{site.baseurl}}/sitemap.xml">地图</a>
        </li>
    </ul>
</nav>
